* {
  text-transform: capitalize;
  font-family: Helvetica, Sans-Serif;
  margin: 0;
  box-sizing: border-box;
  color: rgb(85, 10, 85);
}

.h1 {
  padding: 2%;
  background-image: linear-gradient(to bottom right, rgb(2, 2, 85), lightblue);
  color: rgb(231, 225, 225);
  font-size: 36px;
  text-align: center;
}
.button {
  display: flex;
  flex-direction: row;
  justify-content: start;
}
.fiveDayForecast{
  background-color: lightblue;
}
.green{
  
  background-color: rgb(120, 233, 120);
}
.yellow{
  background-color: rgb(245, 245, 130);
}
.orange {
  background-color: orange;
}
.red {
  color: white;
  background-color: red;
}
.purple 
{ color: white;
  background-color: purple;}
/* @media (min-width: 576px)  */
